# Build Directories
build/
*-build/
build-*/

# Build Artifacts
CMakeLists.txt.use*
CMakeFiles/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#VS Code Artifacts
ipch/
.vscode/

#Documentation
latex
html
worlds
