<?xml version="1.0"?>

<model>
    <name> Factory </name>
    <version> 1.0 </version>
    <sdf version="1.6"> factory.sdf </sdf>

    <author>
        <name> The Hudson Brotherhood </name>
        <email> jonathan.harris-1@student.uts.edu.au </email>
    </author>

    <description>
        Factory floor for Amazon stock control.
    </description>
<model>